/* Big tablet to 1200px (width smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
    }

    .row {
        padding: 0 0.4rem;
    }

    .hero-text-box {
        transform: translate(-40%, -40%);
    }
}

/* Small tablet to big tablet: from 768px to 1023px */

@media only screen and (max-width: 1023px) {
   html { font-size: 18px }
   section { padding: 3rem 0; }

   .long-copy {
       width: 80%;
       margin-left: 10%;
   }
    .hero-text-box {
        transform: translate(-40%, -40%);
    }
   .steps-box { margin-top: 0.2rem; }
   .app-screen { width: 50%; }
   .icon-small {
       width: 1rem;
       margin-right: 1rem;
   }
   .city-teacher {
       font-size: 90%;
       margin-bottom: 0.5rem;
   }
   .plan-box {
       margin-left: 0;
   }
   .plan-price { font-size: 2.5rem; }
   .contact-form { width: 80%; }
}


/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 0.8rem; }
    section { padding: 1.5rem 0; }
    .row,
    .hero-text-box {
        padding: 0 4%;
    }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
    .main-nav { display: none; }

    h1 { font-size: 1.8rem; }
    h2 { font-size: 1.5rem; }

    .hero-text-box {
        transform: translate(-47%, -47%);
    }
    .long-copy {
        width: 100%;
        margin-left: 0;
    }

    .works-step div {
        height: 2.0rem;
        width: 2.0rem;
        text-align: center;
        padding: 4px;
        font-size: 1.3rem;
        margin-right: 1.5rem;
    }

    .steps-box:first-child {
        text-align: center;
    }

    .works-step { margin-bottom: 1rem; }
    .works-step:last-of-type { margin-bottom: 1rem; }

}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .logo { height: 60% }
    section { padding: 2.1rem 0; }
    .btn-full { margin-bottom: 0.5rem; }
    .contact-form { width: 100% }
    input[type=submit] {
        margin-left: 25%;
    }

    .social-icons a {
        text-align: center;
    }
    .footer-nav,
    .social-icons {
        float: none;
        text-align: center;
    }
}




